:root {
  --color-text: #e79f2f;
  --color-background: radial-gradient(#5e039f, #430173);
}

.app__content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app__content h1 {
  margin: 0 0 0.2em;
}

.app__content p {
  margin: 0;
}
