:root {
  --color-text: #e79f2f;
  --color-background: #4b0082;
}

.app__content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app__content h1 {
  margin: 0;
}

.app__content p {
  margin: 0;
}
