<div class="playlist">
  <h1 class="playlist__heading"><%= title %></h1>

  <ol class="playlist__songs">
    <% tracks.forEach(({ name, artists, album }) => { %>
    <li class="playlist__song">
      <span class="playlist__song__info__title"><%= name %></span>
      <span class="playlist__song__info__artist"><%= artists %></span>
    </li>
    <% }) %>
  </ol>

  <% if (url) { %>
  <a href="<%= url %>" target="__blank">Listen in Spotify</a>
  <% } %>
</div>
